@use "./variables.scss" as *;

@mixin flex(
  $justify: center,
  $align: center,
  $direction: row,
  $wrap: nowrap,
  $gap: 0px
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin grid-column($columns, $size) {
  display: grid;
  grid-template-columns: repeat($columns, $size);
}

@mixin table-container {
  border: 1px solid $color-border-light;
  scrollbar-color: #888 $color-input-bg;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  background-color: $off-white;
}
