<div class="main-container">
  <div class="leaderBoard">
    <app-leaderboard />
  </div>

  <div class="spinner-container">
    <div class="pointer">▼</div>
    <div class="circle" appWheelSpin #wheel="appWheelSpin">
      @for (item of sectorData(); track $index) {
      <div
        class="sector"
        [style.transform]="'rotate(' + $index * 36 + 'deg)'"
        [style.background-color]="item.color"
      >
        <span>{{ item.value }}</span>
      </div>
      }
    </div>

    <div class="spin-controls">
      <input
        id="inputNumber"
        type="text"
        [(ngModel)]="selectedNumber"
        min="1"
        max="10"
        placeholder="Enter number 1 - 10"
      />
      <button [disabled]="isSpinning()" (click)="spinWheel(selectedNumber()!)">
        <span> @if (isSpinning()) { spining... } @else { spin }</span>
      </button>
    </div>
    <div
      class="error-container"
      [style.visibility]="errorText() ? 'visible' : 'hidden'"
    >
      <p class="err-text">{{ errorText() }}</p>
    </div>
  </div>
</div>
