@use "../../../../app/styles/mixins.scss" as *;
@use "../../../../app/styles/variables.scss" as *;

.layout-container {
  width: 100%;
  display: flex;

  #sidebar {
    min-height: 100vh;
    background-color: $color-sidebar-bg;
  }

  .main-area {
    flex: 1;
  }

  .content {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
}
