section {
  width: 100%;

  .table-content {
    width: 80%;
    max-width: 950px;
    margin: auto;
    overflow-x: auto;

    table {
      width: 50%;
      min-width: 600px;

      @media (max-width: 425px) {
        width: 80%;
      }
    }
  }
}
