@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

section {
  width: 100%;

  .table-content {
    width: 80%;
    max-width: 970px;
    margin: auto;
    overflow-x: auto;
    @include table-container();

    table {
      width: 50%;
      min-width: 600px;

      @media (max-width: 425px) {
        width: 80%;
      }
    }
  }

  .search-container {
    width: 100%;
    margin-bottom: 20px;
    @include flex();

    input {
      width: 100%;
      max-width: 320px;
      height: 42px;
      background-color: $color-input-bg;
      outline: none;
      border: none;
      margin: auto;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
      border-radius: $radius-md;
    }
  }
}
