@use "../../../../styles/mixins.scss" as *;
@use "../../../../styles/variables.scss" as *;

nav {
  width: 200px;
  height: 100vh;
  background-color: $color-sidebar-bg;
  box-sizing: border-box;
  padding: 15px;

  i {
    display: none;
    color: white;

    @media (max-width: 1024px) {
      display: block;
      font-size: $font-size-large;
    }
  }

  @media (max-width: 1024px) {
    width: 60px;
  }

  &.activeNav {
    width: 250px;
    position: fixed;
    z-index: 1200;
  }

  ul {
    @include flex-column();
    gap: 30px;
    position: fixed;
    z-index: 200;
    padding: 0;

    @media (max-width: 1024px) {
      display: none;
    }

    &.active {
      display: flex;
    }

    li {
      list-style: none;

      a {
        font-size: $font-size-large;
        font-family: $font-primary;
        text-decoration: none;
        color: $color-text-secondary;

        &:hover {
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
          transform: translateY(-1px);
        }

        &.active {
          color: #ffffff;
          border-bottom: 1px solid $color-text-primary;
        }
      }
    }
  }
}
