@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

section {
  width: 100%;

  .table-content {
    width: 50%;
    height: 600px;
    overflow-x: auto;
    min-width: 600px;
    margin: auto;
    margin-top: $section-top-spacing;

    app-data-table {
      min-width: 650px;
    }

    @media (max-width: 1024px) {
      width: 80%;
    }
  }

  .user-posts {
    width: 100%;
    @include flex(center, flex-start, row, wrap, 10px);

    app-post-card {
      width: 320px;
    }
  }
}
