@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

.table-wrapper {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;

    &.full-width {
      width: 100%;
      min-width: unset;
    }

    th,
    td {
      white-space: nowrap;
      text-align: left;
      padding: 8px 12px;
    }

    tr {
      cursor: pointer;
      &.isCompleted {
        background-color: $success-green !important;
        color: white;

        &:hover {
          background-color: $success-green-hover !important;
          color: white;
        }
      }

      &:hover {
        background-color: rgb(212, 211, 211);
      }
    }

    .actionButtons {
      display: inline-flex;
      gap: 8px;
      align-items: center;

      .actionButton {
        width: 78px;
        outline: none;
        border: none;
        background-color: $soft-green;
        color: white;
        box-sizing: border-box;
        padding: 10px;
        cursor: pointer;
        transition: ease-out 0.3s;

        &:hover {
          background-color: $dark-green;
          transition: ease-in 0.3s;
          transform: scale(1.05);
          box-shadow: 0 4px 10px rgba(67, 160, 71, 0.4);
        }

        &:active {
          background-color: $pressed-green;
          transform: scale(0.97);
          box-shadow: 0 2px 6px rgba(46, 125, 50, 0.3);
        }
      }
    }
  }
}
