@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

section {
  width: 100%;

  .table-wrapper {
    width: 50%;
    margin: auto;
    overflow: auto;
    @include table-container();

    @media (max-width: 1024px) {
      width: 80%;
    }
  }
}
